.icon-bar {
    width: 5vw; /* Set button specific width */
    background-color: rgba(0,0,0,0); /* transparent background */
	position:absolute;
	top: 5vh;
}

.icon-bar button {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 1vw; /* Add some padding */
    transition: all 0.5s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 2vw; /* Increased font-size */
	width:5vw;
}

.icon-bar button:hover:not(.active) {
    background-color: rgba(76,175,80,0.4);
	/*background: linear-gradient(to right, rgba(76, 175, 80, 0.4), rgba(76, 175, 80, 0));*/ /* transition speeeds do not work for lin-grads*/
}

.icon-bar .active {
	background-color: rgba(76,175,80,0.8);
    /*background: linear-gradient(to right, rgba(76, 175, 80, 0.8), rgba(76, 175, 80, 0.5), rgba(76, 175, 80, 0));*/
	cursor:default;
}

@media (max-width: 800px){
	.icon-bar {
		width: 40px;
	}
	
	.icon-bar button {
		font-size: 16px;
		width: 40px;
		padding: 8px;
	}
	
	.limiter {
		margin-left: 48px;
	}
}